*~
*.la
*.lo
*.o
*.pc
*.swp
*.orig
.deps
.dirstamp
.libs
.stgit-*
.stgitmail.txt
Makefile
Makefile.in
cscope.*
tags
/autom4te.cache
/aclocal.m4
/build-aux
/config.*
/configure
/configure.h*
/libtool
/m4
/stamp-h1
