*.bpf
*.bpfd
*.pfc
__pycache__/
miniseq
util.pyc
00-test.c
00-test
01-sim-allow
02-sim-basic
03-sim-basic_chains
04-sim-multilevel_chains
05-sim-long_jumps
06-sim-actions
07-sim-db_bug_looping
08-sim-subtree_checks
09-sim-syscall_priority_pre
10-sim-syscall_priority_post
11-basic-basic_errors
12-sim-basic_masked_ops
13-basic-attrs
14-sim-reset
15-basic-resolver
16-sim-arch_basic
17-sim-arch_merge
18-sim-basic_allowlist
19-sim-missing_syscalls
20-live-basic_die
21-live-basic_allow
22-sim-basic_chains_array
23-sim-arch_all_le_basic
24-live-arg_allow
25-sim-multilevel_chains_adv
26-sim-arch_all_be_basic
27-sim-bpf_blk_state
28-sim-arch_x86
29-sim-pseudo_syscall
30-sim-socket_syscalls
31-basic-version_check
32-live-tsync_allow
33-sim-socket_syscalls_be
34-sim-basic_denylist
35-sim-negative_one
36-sim-ipc_syscalls
37-sim-ipc_syscalls_be
38-basic-pfc_coverage
39-basic-api_level
40-sim-log
41-sim-syscall_priority_arch
42-sim-adv_chains
43-sim-a2_order
44-live-a2_order
45-sim-chain_code_coverage
46-sim-kill_process
47-live-kill_process
48-sim-32b_args
49-sim-64b_comparisons
50-sim-hash_collision
51-live-user_notification
52-basic-load
53-sim-binary_tree
54-live-binary_tree
55-basic-pfc_binary_tree
56-basic-iterate_syscalls
57-basic-rawsysrc
58-live-tsync_notify
